WTForms==2.3.3
numpy==1.18.1
SpeechRecognition==3.8.1
Flask_WTF==0.14.3
Flask==1.1.1
pyttsx3==2.7
pandas==1.0.1
nltk==3.4.5
Flask_Cors==3.0.10
Flask_Bootstrap==3.3.7.1
gTTS==2.2.2
textblob==0.15.3
scikit_learn==0.24.2
