textblob==0.15.3
numpy==1.20.3
pandas==1.2.4
pyttsx3==2.71
Flask_Bootstrap==3.3.7.1
gunicorn==20.1.0
Flask_WTF==0.14.3
SpeechRecognition==3.8.1
gTTS==2.2.2
Flask_Cors==3.0.10
joblib==1.0.1
nltk==3.6.2
Flask==2.0.0
WTForms==2.3.3
scikit_learn==0.24.2
